# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#Database properties file
/src/main/resources/database.properties
#Idea
/.idea
#Target
/target/

