<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visitor</title>
</head>
<body>
<h3 th:text="${person.getPersonName()}">Value</h3>
<p th:text="'Year of birth: ' + ${person.getYearOfBirth()}">Value</p>

<div th:if="${not #lists.isEmpty(person.getBookList())}" >
    <h4>Books:</h4>
    <p th:each="book : ${person.getBookList()}" th:text="${book.getBookTitle() + ', ' + book.getBookAuthor() + ', ' + book.getBookPublicationYear()}">user</p>
</div>

<div th:if="${#lists.isEmpty(person.getBookList())}">
    <p>This visitor doesn` have any books yet</p>
</div>




<hr>
<a th:href="@{/people/{id}/edit(id=${person.getPersonId()})}"><input type="button"  value="Edit"/></a>
<br>
<br>
<form th:method="DELETE" th:action="@{/people/{id}/(id=${person.getPersonId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>